@using Papeleria.LogicaAplicacion.DTOs
@model Papeleria.LogicaAplicacion.DTOs.PedidoDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="clienteId" class="control-label"></label>
                    <select asp-for="clienteId" class="form-control">
                        <option value="">Selecciona un Cliente</option>
                        @foreach (var cliente in ViewBag.Clientes)
                        {
                            <option value="@cliente.id">@cliente.nombre</option>
                        }
                    </select>
                </div>
            <div class="form-group">
                <label asp-for="iva" class="control-label"></label>
                <input asp-for="iva" class="form-control" />
                <span asp-validation-for="iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descuento" class="control-label"></label>
                <input asp-for="descuento" class="form-control" />
                <span asp-validation-for="descuento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="diasParaLaEntrega" class="control-label"></label>
                <input asp-for="diasParaLaEntrega" class="form-control" />
                <span asp-validation-for="diasParaLaEntrega" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="form-group">
        Articulos:
        @if (ViewBag._tempListaLinea != null && ViewBag._tempListaLinea.Count > 0)
        {
            @foreach (LineaDTO linea in ViewBag._tempListaLinea)
            {
                <p>@linea.articulo.nombre - cantidad: @linea.cantUnidades - UYU @linea.precioLinea</p>

            }
        }
    </div>
    <div>
        <form asp-action="AgregarArticuloView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <input type="submit" value="Agregar Articulo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
